@using CarExpress.Helpers;
@using CarExpress.Models;
@{Html.RenderPartial("_BreadCrumb");}
<div class="about-us-area hm-3-padding pt-125 pb-125">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-us-details">
                    <p><strong>1.</strong> We will always respect your desire to surprise your loved ones, and we will try to do so in each delivery, however sometime we do not have full information or full address and we will have to contact the recipient to insure timely delivery and to not waste the time of our drivers and delay other deliveries, hence no claims or refunds or complains will be accepted in case a surprise delivery is requested but the details of delivery are not clear or the recipients is not cooperating for delivery.</p>

                    <p><strong>2.</strong> You will be charged for any un-delivered order if "The address provided by you is incomplete or inaccurate", "Recipient is not available at the time of delivery" or if the "Recipient refuses to accept the order"</p>
                    <p><strong>Explanation:</strong> Please note that most of the products we sell are perishable in nature and cannot be returned if any one of the above conditions hold true. We cannot utilize the flowers for any other order due to our stringent quality checks. Hence no refund requests on any of the above grounds will be entertained. We will only issue a refund for non-perishable products that we keep in our stock like for instance "Teddy Bears".</p>
                    <p><strong>3.</strong> We reserve the right to contact the recipient of your order several times and demand the money from them in case we receive a chargeback against your order. We also reserve the right to register a case against the recipient of your order and claim money legally from them.</p>
                    <p><strong>Explanation:</strong> We have a Zero Tolerance policy towards frauds of any kind and hence this point is self-explanatory and needs no further explanation</p>

                    <p><strong>4.</strong> If you place an order for Branded items, all warranties are liable to the original manufacturer.</p>
                    <p><strong>Explanation:</strong> After the product is sold, the service and maintenance of that particular item will be in accordance with the terms and conditions of the original manufacturer, and in no condition it is our responsibility and we cannot be held accountable for any claim. In case of any defect or claim, a case can be filed against the original manufacturer by us but the cost for the same has to be borne by the recipient.</p>
                    <p>
                        <strong>5.</strong> Prohibited acts: You may not access or use the website for any other purpose other than that for which Samia Crafts makes it available. The website is for the personal use of users only and may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by Samia Crafts. In case of any prohibited activities committed by the user, the company has the right to suspend, block or terminate the user's membership and prevent his access to log in the service. Prohibited activities include but not limited to the following:
                    </p><ul class="list-square">
                        <li>Criminal or tortuous activity, including child pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, copyright infringement, patent infringement, or theft of trade secrets.</li>
                        <li>Advertising to, or solicitation of, any user to buy or sell any products or services, unless authorized by Samia Crafts.</li>
                        <li>Systematic retrieval of data or other content from the website to create or compile, directly or indirectly, a collection, compilation, database or directory without written permission from Samia Crafts.</li>
                        <li>Making any unauthorized use of the Samia Crafts services, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email.</li>
                        <li>Engaging in unauthorized framing of or linking to the website.</li>
                        <li>Transmitting chain letters or junk email to other users.</li>
                        <li>Using any information obtained from the website in order to contact, advertise to, solicit, or sell to any user without their prior explicit consent.</li>
                        <li>Engaging in any automated use of the system, such as using scripts to add friends or send comments or messages, or using any data mining, robots or similar data gathering and extraction tools.</li>
                        <li>Interfering with, disrupting, or creating an undue burden on the website or the networks or services connected to the website.</li>
                        <li>Attempting to impersonate another user or person.</li>
                        <li>Using the username of another user.</li>
                        <li>Selling or otherwise transferring your profile.</li>
                        <li>Using any information obtained from the website in order to harass, abuse, or harm another person.</li>
                        <li>Using the Samia Crafts service as part of any effort to compete with Samia Crafts or to provide services as a service office.</li>
                        <li>Deciphering, decompiling, disassembling or reverse engineering any of the software comprising or in any way making up a part of the website.</li>
                        <li>Attempting to bypass any measures of the website designed to prevent or restrict access to the website, or any portion of the website.</li>
                        <li>Harassing, annoying, intimidating or threatening Samia Crafts Company through any medium of communication or to any of its employees or agents engaged in providing any part of Samia Crafts Company services to you.</li>
                        <li>displaying an advertisement, or accepting payment or anything of value from a third person in exchange for your performing any commercial activity on or through the website on behalf of that person, such as posting blogs or bulletins with a commercial purpose.</li>
                        <li>Deleting the copyright or other proprietary rights notice from any Contribution or Samia Crafts Content; and using the website in a manner inconsistent with any and all applicable laws and regulations.</li>
                        <li>Any other suspected malicious activities on Samia Crafts website or applications.</li>
                    </ul>
                    <p>
                        <strong>Price and payments:</strong> Please read the following terms of use and disclaimers carefully before using Debit / Credit Cards: The customer order cancellation is limited to a maximum time of 15 minutes from the time of placing the order.
                        <br>
                        <br>The customer refund procedure might take 2-7 working days to process on the Debit /Credit Cards bank payment gateway. The customer has to follow on with the bank in case of any delay in crediting back the customer’s account with the amount previously paid by the customer. We will send an email to the customer that contains a printout of the refund advice printed from Debit / Credit Cards bank payment gateway as reference in case the customer wants to revise the bank with.
                        <br>Customers using the Debit / Credit Cards facility are requested to be available on their respective contact numbers.
                        <br>
                        <br>Credit or Debit cards used in placing orders through the online payment gateway on Samia Crafts website or applications must belong to the user. Otherwise, the user must attain the legal permission from the card owner to perform the transaction.
                        The customer is entirely liable for placing an order using the Debit / Credit Cards facility after carefully reading all the terms &amp; conditions.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
