@using CarExpress.Helpers;
@using CarExpress.Models;
@{Html.RenderPartial("_BreadCrumb");}
<div class="about-us-area hm-3-padding pt-125 pb-125">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-us-title">
                    <h3>Thank You</h3>
                </div>
                <div class="about-us-details">
                    <p>Your order has been received</p>
                    <p>Your order numer is @ViewBag.OrderID</p>
                </div>
            </div>
        </div>
    </div>
</div>